In [2]:
import pandas as pd

In [3]:
all_data_raw = pd.read_csv('assignment.csv', parse_dates=['created_at'])

In [4]:
all_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442264 entries, 0 to 442263
Data columns (total 19 columns):
order_id        442264 non-null int64
parent_id       442264 non-null int64
user_id         442264 non-null float64
price           442264 non-null int64
quantity        442264 non-null int64
product_id      442264 non-null int64
size_id         442264 non-null int64
category_id     442264 non-null int64
cat_type        442264 non-null object
subtype         442264 non-null object
gender          442264 non-null object
product_type    442264 non-null object
neck            442264 non-null object
sleeve          442264 non-null object
material        442264 non-null object
prod_name       442264 non-null object
created_at      442264 non-null datetime64[ns]
city            442264 non-null object
state           442264 non-null object
dtypes: datetime64[ns](1), float64(1), int64(7), object(10)
memory usage: 64.1+ MB

In [15]:
all_data_raw.head()

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
0,14128663,0,583569.0,3000,1,191087,2,1131,Apparel,Topwear,Women,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Colors Of Infinity Boyfriend T-Shirt,2018-08-01 00:00:05,Hyderabad,Telangana
1,14128669,0,4749765.0,2500,1,95123,3,200,Apparel,Topwear,Men,T-Shirt,Round Neck,Full Sleeve,100% Cotton,Pine Green Full Sleeve T-Shirt,2018-08-01 00:00:07,Indore,Madhya Pradesh
2,14128677,0,4980731.0,3000,1,186563,19,2361,Accessories,Bags,Unisex,mini Backpack,-1,-1,PU Coated Polyester,Wanderlust Essential Mini Backpack,2018-08-01 00:00:24,Sundergarh,Odisha
3,14128679,0,5881391.0,1500,1,191049,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Do What Half Sleeve T-Shirt,2018-08-01 00:00:25,Vadodara,Gujarat
4,14128681,0,5721267.0,2500,1,191033,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Padhai Se Darr Half Sleeve T-Shirt,2018-08-01 00:00:31,Moradabad,Uttar Pradesh

In [18]:
all_data_raw.groupby('user_id').count().head()

,order_id,parent_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
user_id,,,,,,,,,,,,,,,,,,
71.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
235.0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
344.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
869.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1408.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [24]:
all_data_raw.groupby(['product_id','category_id']).count().head()

,,order_id,parent_id,user_id,price,quantity,size_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
product_id,category_id,,,,,,,,,,,,,,,,,
105,88,967,967,967,967,967,967,967,967,967,967,967,967,967,967,967,967,967
106,88,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148
115,88,625,625,625,625,625,625,625,625,625,625,625,625,625,625,625,625,625
506,160,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80
1003,88,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [26]:
all_data_raw[all_data_raw.category_id == 88].prod_name.unique()

array(['Pine Green Half Sleeve T-Shirt', 'Bold Red Half Sleeve T-Shirt',
       'Jet Black Half Sleeve T-Shirt', 'Navy Blue Half Sleeve T-Shirt',
       'Stone Grey Half Sleeve T-Shirt', 'Ocean Blue Half Sleeve T-Shirt',
       'White Half Sleeve T-Shirt', 'Charcoal Melange Half Sleeve T-Shirt',
       'Classic Camouflage Half Sleeve T-Shirt',
       'Grey Sky Melange Half Sleeve T-Shirt',
       'Capri Blue Half Sleeve T-Shirt', 'Army Green Half Sleeve T-Shirt',
       'Varsity Maroon Half Sleeve T-Shirt',
       'Fauna Green Camouflage Half Sleeve T-Shirt',
       'Burgundy Half Sleeve T-Shirt', 'Mocha Brown Half Sleeve T-Shirt',
       'Classic Maroon', 'Ash Blue Melange Half Sleeve T-Shirt',
       'Outdoor Green Camouflage Half Sleeve T-Shirt',
       'Mustard Yellow Half Sleeve T-Shirt', 'Crimson Red Plain',
       'Meteor Grey Camouflage Half Sleeve T-Shirt'], dtype=object)

In [42]:
all_data_raw[(all_data_raw.sleeve == 'Half Sleeve') & (all_data_raw.product_type == 'T-Shirt') & (all_data_raw.gender == 'Men') & (all_data_raw.neck == 'Round Neck') & (all_data_raw.material == '100% Cotton')].category_id.unique()

array([ 160,   88, 1469, 1561,  831, 1455, 1691, 1467,  829,  508, 1693,
       1811, 2319, 2029, 1479])

In [9]:
all_data_raw.groupby('order_id').count()[all_data_raw.groupby('order_id').count().price > 1]

,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
order_id,,,,,,,,,,,,,,,,,,
18268757,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
18268773,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [8]:
all_data_raw[all_data_raw.order_id == 18268773]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
442023,18268773,0,5710565.0,2500,1,197747,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Wink New Half Sleeve T-Shirt,2018-10-24 14:53:47,Pune,Maharashtra
442024,18268773,0,5710565.0,2500,1,197773,3,1263,Apparel,Topwear,Women,T-Shirt,Round Neck,3/4th Sleeve,100% Cotton,Wink New Round Neck 3/4th Sleeve T-Shirt,2018-10-24 14:53:47,Pune,Maharashtra

In [7]:
all_data_raw.groupby('created_at').count()[all_data_raw.groupby('created_at').count().price > 1]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,city,state
created_at,,,,,,,,,,,,,,,,,,
2018-08-01 00:00:51,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
2018-08-01 00:01:42,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:02:15,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:03:32,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:04:11,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:04:35,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:05:45,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:05:59,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:06:14,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:06:40,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:06:50,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:07:28,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:07:46,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
2018-08-01 00:08:12,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:08:26,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:08:55,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:09:02,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:09:18,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:09:31,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:10:31,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:12:04,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:13:01,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:14:43,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:17:01,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
2018-08-01 00:17:16,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:17:49,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:18:11,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:18:31,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-08-01 00:19:14,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-08-01 00:19:23,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-24 14:40:08,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:41:27,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:41:32,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:44:12,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:49:27,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:51:48,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:53:00,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:53:47,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 14:55:20,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:08:20,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:16:29,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
2018-10-24 15:17:48,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:18:46,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-10-24 15:19:00,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-10-24 15:21:19,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:21:57,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:22:27,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:22:42,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:22:51,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:23:28,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:26:49,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:31:46,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:32:31,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:32:39,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:33:04,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:35:03,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-10-24 15:36:13,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-10-24 15:36:44,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2018-10-24 15:37:12,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018-10-24 15:40:02,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [9]:
all_data_raw[all_data_raw.created_at == '2018-08-01 00:00:51']

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
8,14128717,14128713,5999489.0,1000,1,191053,3,134,Apparel,Topwear,Men,T-Shirt,Round Neck,Full Sleeve,100% Cotton,Do What Full Sleeve T-Shirt,2018-08-01 00:00:51,Pune,Maharashtra
9,14128719,14128713,5999489.0,3000,1,191039,3,134,Apparel,Topwear,Men,T-Shirt,Round Neck,Full Sleeve,100% Cotton,Padhai Se Darr Full Sleeve T-Shirt,2018-08-01 00:00:51,Pune,Maharashtra
10,14128721,0,4493911.0,3000,1,95123,3,200,Apparel,Topwear,Men,T-Shirt,Round Neck,Full Sleeve,100% Cotton,Pine Green Full Sleeve T-Shirt,2018-08-01 00:00:51,Mumbai,Maharashtra
11,14128723,14128713,5999489.0,1500,1,188733,3,134,Apparel,Topwear,Men,T-Shirt,Round Neck,Full Sleeve,100% Cotton,Keep Sleeping Full Sleeve T-Shirt,2018-08-01 00:00:51,Pune,Maharashtra
12,14128725,0,6003303.0,2500,1,189319,2,1263,Apparel,Topwear,Women,T-Shirt,Round Neck,3/4th Sleeve,100% Cotton,Let's Rock Round Neck 3/4th Sleeve T-Shirt,2018-08-01 00:00:51,Rupnagar,Punjab

In [12]:
all_data_raw[all_data_raw.created_at == '2018-08-01 00:02:15']

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
22,14128845,14128725,6003303.0,2000,1,189319,1,1263,Apparel,Topwear,Women,T-Shirt,Round Neck,3/4th Sleeve,100% Cotton,Let's Rock Round Neck 3/4th Sleeve T-Shirt,2018-08-01 00:02:15,Rupnagar,Punjab
23,14128847,14128725,6003303.0,1500,1,170049,5,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Dabbing Panda Half Sleeve T-Shirt,2018-08-01 00:02:15,Rupnagar,Punjab
24,14128849,14128725,6003303.0,2500,1,170049,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Dabbing Panda Half Sleeve T-Shirt,2018-08-01 00:02:15,Rupnagar,Punjab

In [10]:
all_data_raw[all_data_raw.order_id == 18268757]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
442020,18268757,0,7508965.0,2500,1,189257,5,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Vendetta Shadows Half Sleeve T-Shirt,2018-10-24 14:53:00,Indore,Madhya Pradesh
442021,18268757,0,7508965.0,1500,1,199895,5,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Sadhu Baba Half Sleeve T-Shirt,2018-10-24 14:53:00,Indore,Madhya Pradesh

In [11]:
all_data_raw[all_data_raw.order_id == 18268773]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
442023,18268773,0,5710565.0,2500,1,197747,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Wink New Half Sleeve T-Shirt,2018-10-24 14:53:47,Pune,Maharashtra
442024,18268773,0,5710565.0,2500,1,197773,3,1263,Apparel,Topwear,Women,T-Shirt,Round Neck,3/4th Sleeve,100% Cotton,Wink New Round Neck 3/4th Sleeve T-Shirt,2018-10-24 14:53:47,Pune,Maharashtra

In [20]:
all_data_raw[all_data_raw.parent_id == 16348307]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
238600,16348343,16348307,6843667.0,1000,1,196241,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:03,South Delhi,Delhi
238601,16348345,16348307,6843667.0,2500,1,196241,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238602,16348347,16348307,6843667.0,2000,1,196243,4,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238603,16348349,16348307,6843667.0,1500,1,196243,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238604,16348351,16348307,6843667.0,3000,1,196243,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238605,16348353,16348307,6843667.0,1000,1,196245,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238606,16348355,16348307,6843667.0,2000,1,196247,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238607,16348357,16348307,6843667.0,1500,1,196247,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Gradient Wanderlust Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238608,16348359,16348307,6843667.0,1000,1,196279,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:04,South Delhi,Delhi
238609,16348361,16348307,6843667.0,3000,1,196279,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238610,16348363,16348307,6843667.0,2000,1,196281,4,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238611,16348365,16348307,6843667.0,2000,1,196281,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238612,16348367,16348307,6843667.0,2000,1,196281,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238613,16348369,16348307,6843667.0,3000,1,196283,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238614,16348371,16348307,6843667.0,3000,1,196283,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238615,16348373,16348307,6843667.0,3000,1,196285,5,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:05,South Delhi,Delhi
238616,16348375,16348307,6843667.0,3000,1,196285,4,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238617,16348377,16348307,6843667.0,2500,1,196285,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238618,16348379,16348307,6843667.0,1000,1,196285,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238619,16348381,16348307,6843667.0,2500,1,196285,1,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Swag Typography Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238620,16348383,16348307,6843667.0,2500,1,196263,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Work Sweat Achieve Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238621,16348385,16348307,6843667.0,2500,1,196263,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Work Sweat Achieve Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238622,16348387,16348307,6843667.0,1000,1,196261,3,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Work Sweat Achieve Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi
238623,16348389,16348307,6843667.0,3000,1,196261,2,160,Apparel,Topwear,Men,T-Shirt,Round Neck,Half Sleeve,100% Cotton,Work Sweat Achieve Half Sleeve T-Shirt,2018-09-17 09:16:06,South Delhi,Delhi

In [19]:
all_data_raw[all_data_raw.order_id == 16348307]

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,gender,product_type,neck,sleeve,material,prod_name,created_at,city,state
238596,16348307,0,6843667.0,2000,1,196297,3,1263,Apparel,Topwear,Women,T-Shirt,Round Neck,3/4th Sleeve,100% Cotton,Swag Typography Round Neck 3/4th Sleeve T-Shirt,2018-09-17 09:13:29,South Delhi,Delhi

In [18]:
all_data_raw.groupby('parent_id').count().order_id[all_data_raw.groupby('parent_id').count().order_id > 13]

parent_id
0           360658
14447897        22
14780837        21
15842613        17
16130601        14
16155209        17
16348307        24
16363749        16
16770614        18
17791399        21
Name: order_id, dtype: int64

In [26]:
all_data_raw.groupby('gender').count()

,order_id,parent_id,user_id,price,quantity,product_id,size_id,category_id,cat_type,subtype,product_type,neck,sleeve,material,prod_name,created_at,city,state
gender,,,,,,,,,,,,,,,,,,
Boys,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Men,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321,332321
Unisex,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509,27509
Women,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433,82433

In [25]:
all_data_raw.price.mean()

1998.6953493840783